<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Askbootstrap">
        <meta name="author" content="Askbootstrap">
        <title>{{data[0]}}</title>
        <!-- Favicon Icon -->
        <!-- <link rel="icon" type="static/image/png" href="img/favicon.png"> -->
        <link href="/static/img/favicon.png" rel="icon" type="image/png" />
     
        <!-- Bootstrap core CSS-->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="/static/css/osahan.css" rel="stylesheet">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="/static/vendor/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="/static/vendor/owl-carousel/owl.theme.css">
     
        <!-- VideoJs -->
        <link rel="stylesheet" href="/static/css/video-js.css" />
     
     </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>
