<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Askbootstrap" />
  <meta name="author" content="Askbootstrap" />
  <title></title>
  <!-- Favicon Icon -->
  <!-- <link rel="icon" type="image/png" href="img/favicon.png"> -->
  <link href="/static/img/favicon.png" rel="icon" type="image/png" />
  <!-- Bootstrap core CSS-->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
    type="text/css" />
  <!-- Custom styles for this template-->
  <link href="/static/css/osahan.css" rel="stylesheet" />
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="/static/vendor/owl-carousel/owl.carousel.css" />
  <link rel="stylesheet" href="/static/vendor/owl-carousel/owl.theme.css" />
  

</head>

<body id="page-top">
  <nav class="navbar navbar-expand navbar-light bg-white static-top osahan-nav sticky-top">
    <a class="nav-link" href="/">
       Home
    </a>
    {% for i in data %}
      <a class="nav-link" href="/videos/{{i[1]}}">
        {{i[1]}}
      </a>
    {% endfor %}
 </nav>
  <div id="wrapper">
    <div id="content-wrapper">
      <div class="container-fluid pb-0">
        <div class="top-category section-padding mb-4">
          <div class="row">
            <div class="col-md-12">
              <div class="main-title">
                <h6>Live</h6>
              </div>
            </div>
          </div>
        </div>
        <hr />

        <!-- Video Section -->
        {% for i in data %}
        <div class="video-block section-padding">
          <div class="row">
            <div class="col-md-12">
              <div class="main-title">
                <h6>{{i[1]}}</h6>
              </div>
            </div>
            <!-- {% set testing = 'it worked' %} -->
            <!-- Thumbnail template -->
            {% for j in i[3] %}
            <!-- {% if(testing != j[3]) %} -->
            <!-- <div>{{j[3]}}</div> -->

            <!-- {% endif %} -->
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="video-card">
                <div class="video-card-image">
                  <a class="play-icon" href="live/{{j[1]}}"><i class="fas fa-play-circle"></i></a>
                  <a href="#"><img class="img-fluid" src="{{j[2]}}" alt="" /></a>
                  <!-- <div class="time">3:50</div> -->
                </div>
                <div class="video-card-body">
                  <div class="video-title">
                    <a href="{{j[1]}}">{{j[0]}}</a>
                  </div>
                  <div>{{j[3]}}</div>
                  <div>{{j[4]}}</div>

                  <!-- <div class="video-page text-success">
                                 Education  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M views &nbsp;<i class="fas fa-calendar-alt"></i> 11 Months ago
                              </div> -->
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <hr class="mt-0">
        </div>
        {% endfor %}
        <!-- End of Video Section -->

      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-6 col-sm-6">
              <p class="mt-1 mb-0">
                <strong class="text-dark">Theme from Aakash Padhiyar</strong>.
                <small class="mt-0 mb-0"><a class="text-primary" target="_blank"
                    href="https://github.com/8140171224/VIDOE">Github</a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Owl Carousel -->
  <script src="/static/vendor/owl-carousel/owl.carousel.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/static/js/custom.js"></script>
</body>

</html>